# CMake
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.user

# C++
*.o
*.out
*.exe
*.exe~
*.o~

# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# IDE and caches
/.vscode/
/caches/
/temp_*
